body {
    background-color: rgb(50, 112, 184);
}

.contenedor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, roboto, sans-serif;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    background-color: #d43810;
    border-radius: 5px;
    border-style: solid;
}

.box_operando{
    height: 200px;
    width: 800;
    border-style: solid ;  
}
#display {
    background-color:aliceblue;
    margin-left: 65px;
    margin-top: 50px;
    border-radius: 5px;
    height: 100px;
    width: 670px;
    font-size: 50px;
}

.box_numeros{
    height: 389px;
    width: 450px;
    padding-left: 65px;
    float: left;
    border-style: solid;
}

#numeros {
    border-radius: 30px;
    height: 80px;
    width: 120px;
    font-size: 50px;
}

.box_operadores{
    width: 273px;
    height: 389px;
    float:inline-start;
    border-style:solid;
}

#operadores{
    border-radius: 30px;
    height: 80px;
    width: 85px;
    font-size: 50px;
}

