body {
    background-color: rgb(50, 112, 184);
}

.contenedor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, roboto, sans-serif;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    background-color: #d43810;
    border-radius: 5px;
    border: black 5px solid;
  }

.box_operando{
    height: 200px;
    width: 800;
    float: left;
}
#display {
    margin-left: 65px;
    margin-top: 50px;
    border-radius: 5px;
    height: 100px;
    width: 670px;
    font-size: 50px;
}

.box_numeros{
    height: 300px;
    width: 500px;
    margin-left: 65px;
    float: left;
}

#numeros {
    border-radius: 30px;
    height: 80px;
    width: 120px;
    font-size: 50px;
}

.box_cero{
    height: 100px;
    width: 500px;
    margin-left: 65px;
    float: bottom;
}

#cerito{
    border-radius: 30px;
    height: 80px;
    width: 120px;
    font-size: 50px;
    margin-left: 125px;
}

.box_operadores{
    width: 200px;
    height: 400px;
    float: left;
}

#operadores{
    border-radius: 30px;
    height: 80px;
    width: 85px;
    font-size: 50px;
}

